<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace" internalLogToConsole="true" throwExceptions="true">
  <extensions>
    <add assembly="NLog.Targets.CloudWatchLogs"/>
  </extensions>
  <targets>
      <target name="cwl"
              xsi:type="CloudWatchLogs"
              AWSRegion="eu-west-1"
              LogGroupName="NLog-Targets-CloudWatchLogs-TestApp"
              LogStreamName="latest"
              layout="${longdate} [${threadid}] ${level} ${logger} [${ndc}] - ${message}"/>
    <target xsi:type="Console"
          name="csl"
          layout="${longdate} [${threadid}] ${level} ${logger} [${ndc}] - ${message}"/>
  </targets>  
  <rules>
    <logger name="*" minlevel="Trace" appendTo="cwl"/>
    <logger name="*" minlevel="Trace" appendTo="csl"/>
  </rules>
</nlog>