<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
  <targets>
    <target name="bw"
            xsi:type="BufferingWrapper"
            slidingTimeout="true"
            bufferSize="100"
            flushTimeout="60000">    
      <target name="cwl" 
              xsi:type="CloudWatchLogs" 
              AWSRegion="aws-region"
              LogGroupName="log-group"
              LogStreamName="log-stream"
              layout="${longdate} [${threadid}] ${level} ${logger} [${ndc}] - ${message}"/>
    </target>
  </targets> 
  <rules> 
    <logger name="*" minLevel="Info" appendTo="bw"/> 
  </rules> 
</nlog>