<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.1" targetFramework="net452" />
  <package id="AutoFixture.AutoMoq" version="3.50.1" targetFramework="net452" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.1.1" targetFramework="net452" />
  <package id="AWSSDK.Core" version="3.3.5" targetFramework="net452" />
  <package id="Moq" version="4.1.1308.2120" targetFramework="net452" />
  <package id="Polly" version="5.0.2-v5-0-alpha0001" targetFramework="net452" />
</packages>